.mySlides {
    display: none
}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0 ;
    position: relative;
    bottom: 5vw;
    left: 45vw;
}

.w3-left {
    float:left !important;
    position: relative;
    background: hwb(0deg 50% 50% / 20%);
    padding: 350px 27px 350px 25px;
    bottom: 43vw;
}

.w3-right {
    float: right !important;
    position: relative;
    background: hwb(0deg 50% 50% / 20%);
    padding: 350px 27px 350px 25px;
    bottom: 43vw;
}
.w3-badge, .w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.w3-badge {
    border-radius: 50%
}
.w3-border-0 {
    border: 0 !important
}

.w3-border {
    border: 1px solid #ccc !important
}

.w3-border-top {
    border-top: 1px solid #ccc !important
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.w3-border-left {
    border-left: 1px solid #ccc !important
}

.w3-border-right {
    border-right: 1px solid #ccc !important
}
.w3-white, .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}