footer {
    display: flex;
    gap: 7%;
    font-size: 15px;
    color: white;
    background-color: #25362c;
    height: 800px;
    line-height: 23px;
}



.top-section {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

#bg-con {
    padding-left: 80px;
    padding-right: 80px;
}

#bg-png {
    width: 100%;
    height: 700px;
}

#logo-con {
    position: relative;
   
}

#footer-logo {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.bottom-section {
    height: 1px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(1, 10px);
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    bottom: -170px;
}

.footer-sec-item {
    display: inline-block;
    font-size: 20px;
}

.footer-sec-item1 {
    border: 3px white;
    border-style: solid;
    border-left: none;
    height: 68px;
    border-top: none;
    border-bottom: none;
}

.footerFB {
    justify-content: center;
    display: grid;
    align-content: center;
    grid-template-rows: 50px;
    grid-template-columns: 35px 150px;
}

.footer-sec-item3 {
    padding-top: 10px;
}

.bottom-text {
    font-size: 17px;
}
