.container-footer{
    background-color: #25362c;
    display: block;
    width: 100%;
    height: 600px;
}

.footer-first-element{
    background-image: url("../img/Footer/footerLogo.png");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}


.footer-second-element{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: repeat(1, 10px);
    justify-content: center;
    align-items: center;
}

.footer-sec-item{
    display: inline-block;
}