.footer-div {
    background-color: #25362c;
    width:1900px;
    height:1400px;
}
#grafiti{
    position:absolute;
    top:600px;
    width: 1900px;
    height: 1000px;
}
#logo{
    width: 800px;
    height: 600px;
    top: 880px;
    left: 560px;
    position: absolute;
}
#call{
    padding-left: 0px;
    padding-top: 1000px;
    width: 110px;
    height: 110px;
    position:absolute;
}
#call1{
    color:white;
    padding-left: 30px;
    padding-top: 1150px;
    position: absolute;
}
#line1{
    position: absolute;
    padding-left: 110px;
    padding-top: 1050px;
    width: 400px;
    height: 150px;
}
#call2{
    color:white;
    padding-left: 330px;
    padding-top: 1150px;
    position: absolute;
}
#line2{
    position: absolute;
    padding-left: 470px;
    padding-top: 1050px;
    width: 400px;
    height: 150px;
}
#insta{
    padding-left: 310px;
    padding-top: 1000px;
    width: 110px;
    height: 110px;
}
#fb{
    padding-left: 250px;
    padding-top: 1000px;
    width: 110px;
    height: 110px;
}
#call3{
    color:white;
    padding-left: 700px;
    padding-top: 1150px;
    position: absolute;
}
#line3{
    position: absolute;
    padding-left: 855px;
    padding-top: 1050px;
    width: 400px;
    height: 150px;
}
#mail{
    padding-left: 240px;
    padding-top: 1000px;
    width: 110px;
    height: 110px;
}
#call4{
    color:white;
    padding-left: 1080px;
    padding-top: 1150px;
    position: absolute;
}
#line4{
    position: absolute;
    padding-left: 1270px;
    padding-top: 1050px;
    width: 400px;
    height: 150px;
}
#loc{
    padding-left: 280px;
    padding-top: 1000px;
    width: 110px;
    height: 110px;
}
#call5{
    color:white;
    padding-left: 1490px;
    padding-top: 1150px;
    position: absolute;
}
