#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

#top-section {
    display: flex;
    background-color: rgb(226, 226, 226);
}

#main-logo {
    max-width: 80px;
    padding-left: 100px;
    height: 80px;
}

#banner {
    height: 80px;
    max-width: 500px;
}

#number_container {
    position: absolute;
    height: auto;
    top: 0px;
    right: 0;
    background-color: rgb(184, 192, 68);
}

#bottom-section {
    display: flex;
    height: 58px;
    padding-left: 24px;
    background-color: rgb(239, 239, 239);
}

#number{
    color:white;
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 30px;
    border:thin;
    margin:0;
    padding-left: 10px;
    text-shadow: -0.5px -0.5px 1px rgba(0, 0, 0, 0.5 );
}

#num_icon{
    display: flex;
    padding: 25px 50px 25px 20px;
    align-items: center;
    
}


.navigation-ul{
    list-style-type: none;
    margin-top: -0.2%;
}


.navigation-ul > li{
    display: inline-block;
    padding: 9px 31px;
}
