#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#top-section {
    display: flex;
    background-color: rgb(226, 226, 226);
}

#main-logo {
    max-width: 80px;
    padding-left: 20px;
    height: 80px;
}

#banner {
    height: 80px;
    max-width: 500px;
}

#number_container {
    position: absolute;
    height: auto;
    top: 0px;
    right: 0;
    background-color: rgb(184, 192, 68);
}

#number {
    align-items: center;
    max-width: 300px;
}

#bottom-section {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 24px;
}
#nomer{
    color:white;
    font-size: 30px;
    border:thin;
    margin:0;
    padding-left: 10px;
}
#num_con{
    display: flex;
    padding: 25px 50px 25px 20px;
    align-items: center;
}
