#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#top-section {
    display: flex;
    background-color: rgb(226, 226, 226);
}

#main-logo {
    max-width: 84px;
}

#banner {
    max-width: 500px;
}

#number {
    position: absolute;
    top: 30px;
    right: 0;
    max-width: 300px;
    background-color: rgb(184, 192, 68);
}

#bottom-section {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 24px;
}
