.container-photos-infos {
    background-color: white;
    grid-template-rows: 660px;
    margin: 2% 2%;
}
    .container-photos-infos td {
        border-spacing: 0px;
        padding:0;
        
    }

#grass {
    float: right;
    width: 800px;
    height: 650px;
}

#land {
    width: 800px;
    height: 650px;
    float: left;
    padding-left: 87px;
}
.photos_text{
    margin-left: 10%;
}