.container-photos-infos {
    background-color: white;
    grid-template-rows: 660px;
    margin: 2% 2%;
}
    .container-photos-infos td {
        border-spacing: 0px;
        padding:0;
        
    }

#grass {
    float: right;
    width:100%
}

#land {
    float: left;
    padding-left: 87px;
    margin-top:0;
    width:100%;
}
.photos_text{
    padding-left: 10%;
}