#main-service-container{
    margin-top: 22%;
}

.h2-services{
    margin-left: 11%;
}

#service-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 400px);
    justify-content: center;
}

.services{
    height: 280px;
}

.service-img{
    width: 260px;
    height: 290px;
    z-index: -1;
}

.text {
    font-family: 'roboto', arial;
    font-size: 14px;
    font-weight: 500;
    z-index: 100;
    position: relative;
    width: 176px;
    background-color: #e2e2e2;
    height: 58px;
    right: -19px;
    top: -55px;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 2px;
}

.service-bottom-text{
    font-family: 'roboto', arial;
    font-weight: 400;
    font-size: 8px;
}

.h2-services{
    font-size: 40px;
}