#cur-service-info{
    align-items: center;
    margin-top: 15%;
}

#textHeader{
    font-size: 40px;
}

#img1{
    width: 400px;
    height: 600px;
}

#img2{
    width: 200px;
    height: 200px;
}

#img3{
    width: 150px;
    height: 150px;
}
